extends base.pug

block content 
    h1 Change Title of the video
    form(method="POST")
        input(name="title" placeholder="edit video" value=video.title required)
        input(value="Save" type="submit")